.delete-modal-btns button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 16px;
}
  
.delete-modal-btns button:hover {
    opacity:1;
}
  
.delete-modal-btns .cancelbtn, .delete-modal-btns .deletebtn {
    float: left;
    width: 50%;
}
  
.delete-modal-btns .cancelbtn {
    background-color: rgb(77, 75, 75);
    color: white;
}
  
.delete-modal-btns .deletebtn {
    background-color: #f44336;
}
  
.delete-modal-container {
    padding: 16px;
    text-align: center;
}
  
  /* The Modal (background) */
.delete-confirmation-modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 50px;
}
  
.delete-modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 45%; 
}
   
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media(max-width: 670px) {
    .delete-modal-btns .deletebtn, .delete-modal-btns .cancelbtn {
        width: 100%;
    }

    .delete-modal-content p{
        font-size: 15px;
    }
}

@media(max-width: 1030px) {
    .delete-modal-content {
        width: 50%;
    }
}

@media(max-width: 760px) {
    .delete-modal-content {
        width: 55%;
    }
}

@media(max-width: 660px) {
    .delete-modal-content {
        width: 65%;
    }
}

@media(max-width: 570px) {
    .delete-modal-content {
        width: 85%;
    }
}

